@import "../../../styles/colors.scss";

.button {
  width: fit-content;
  cursor: pointer;
  border: 0px;
  min-height: 52px;
}

.primary {
  border-radius: 12px;
  background: $colorPrimary;
}

.secondary {
  border-radius: 12px;
  background: $colorSecondary;
}

.blank {
  background-color: none;
}

.dark {
  border-radius: 12px;
  background: $colorDarkerGray;
}

.full {
  width: 100%;
}