@import "../../../styles/colors.scss";

.button {
  width: fit-content;
  cursor: pointer;
  border: 0px;
  min-height: 52px;
}

.primary {
  border-radius: 12px;
  background: $colorPrimary;
}

.secondary {
  border-radius: 12px;
  background: $colorSecondary;
}

.blank {
  background-color: none;
  background: none;
}

.dark {
  border-radius: 12px;
  background: $colorDarkerGray;
}

.danger {
  border-radius: 12px;
  background: $colorDanger;
}

.disabled {
  border-radius: 12px;
  background: $colorRainyGray;
  cursor: default;
}

.full {
  width: 100%;
}

.pulseButton:not(:disabled) {
  position: relative;
  border: none;
  cursor: pointer;
  background: $colorPrimary;
  transition: 1s;
  box-shadow: 0 0 0 0 rgba($colorPrimary, .5);
}
.pulseButton:hover:not(:disabled) {
  animation: pulse 1.5s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 15px rgba($colorPrimary, 0);
  }
    100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba($colorPrimary, 0);
  }
}

.text {
  background-color: none;
  background: none;
  min-height: fit-content;
  margin: 0;
  padding: 0;
}

.joinNow {
  border-radius: 12px;
  background: $colorSecondary;
  width: 220px;
  height: fit-content;
}