.button {
  width: fit-content;
  cursor: pointer;
  border: 0px;
  box-shadow: 2px 2px 5px gray;
  border-radius: 10px;
}

.primary {
  height: 50px;
  background-color: #3B82F6;
  transition: 1s;
}

.primary:hover {
  transition: 1s;
  background-color: #2f6bcb;
}

.secondary {
  background-color: blue;
}

.blank {
  background-color: none;
  box-shadow: none;
}
