@import "../../../styles/colors.scss";

.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputBox {
  border-radius: 12px;
  border: none;
  min-height: 25px;
  height: 52px;
  background-color: $colorDarkerGray;
  color: #A5A5A5;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 17px;
  font-style: normal;
  line-height: normal;
  padding-left: 20px;
}

input::placeholder {
  color: #A5A5A5;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.onError {
  box-shadow: 2px 2px 3px red;
}

.onSuccess {
  box-shadow: 2px 2px 3px lightgreen;
}
