@import "../../../styles/colors.scss";

.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputBox {
  font-family: "Raleway-SemiBold";
  border-radius: 12px;
  border: none;
  min-height: 25px;
  height: 52px;
  background-color: $colorDarkerGray;
  color: $colorRainyGray;
  font-size: 17px;
  font-style: normal;
  line-height: normal;
  padding-left: 20px;
}

input::placeholder {
  color: $colorDarkGray;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input:focus {
  outline: none !important;
    border:1px solid $colorPrimary;
    box-shadow: 0 0 5px $colorPrimary;
}

.onError {
  box-shadow: 2px 2px 3px red;
}

.onSuccess {
  box-shadow: 2px 2px 3px lightgreen;
}
