// THEME
$colorPrimary: #F8B527;
$colorSecondary: #AA2FB5;
$colorSecondaryDark: #2D0D29;

// BUTTON COLORS
$colorSuccess: #22c55e;
$colorInfo: #3b82f6;
$colorWarning: #f59e0b;
$colorHelp: #a855f7;
$colorDanger: #ef4444;

// HOVERS
$colorPrimaryHover: #2f6bcb;

// W.W.
$colorWhite: #ffffff;
$colorAlmostWhite: #efefef;

// GRAY
$colorTextGrayExtraLight: #e7e7e7;
$colorGray: #c9c9c9;
$colorRainyGray: #A5A5A5;
$colorDarkGray: #808080;
$colorDarkerGray: #2C2C2C;

// BLACK
$colorAlmostBlack: #121212;
$colorBlack: #000000;
$colorTransparent: rgba(0, 0, 0, 0);

// BORDERS
$colorBorder: #00FF29;