// THEME
$colorPrimary: #3B82F6;
$colorSecondary: #0000ff;
$colorSuccess: #22c55e;
$colorInfo: #3b82f6;
$colorWarning: #f59e0b;
$colorHelp: #a855f7;
$colorDanger: #ef4444;

// HOVERS
$colorPrimaryHover: #2f6bcb;

// COLORS
$colorWhite: #ffffff;
$colorAlmostWhite: #efefef;
$colorGray: #c9c9c9;
$colorTextGrayExtraLight: #e7e7e7;
$colorDarkGray: #808080;
$colorAlmostBlack: #050505;
$colorBlack: #000000;
$colorTransparent: rgba(0, 0, 0, 0);
